<h1> Data Science Tools and Ecosystem <h1>

>In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries for Data Science</li>
    <li>List Data Science Tools</li>
    <li>Show arithmetic equations</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>TensorFlow</li>
<li>Pandas</li>
<li>Scikit-learn</li>
</ol>

<table>
<tr>
<th>Data Science Tools</th>
</tr>

<tr>
<td>Apache Spark</td>
</tr>

<tr>
<td>Hadoop</td>
</tr>
    
<tr>
<td>MongoDB</td>
</tr>
</table>

<h3> Below are a few examples of evaluating arithmetic expressions in Python <h3>

In [9]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [10]:
minutes = 200
hours = 200/60
#This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

## Author
Ilyas Coskun